<div class="popup_addRest">
  <div class="form-container">
    <h2>Add a Restaurant</h2>
    <form name="add-restaurant-form" action="/addRest" method="post">
      <div class="form-group">
        <label for="restaurantName">Restaurant Name:</label>
        <input type="text" class="restaurantName" name="restaurantName" required>
      </div>
      <input type="submit" value="Add Restaurant!">
      <button type="button" class="close">Close</button>
    </form>
  </div>
</div>