<div class="leaderboard">
    <div class="label">
        <img src="https://st2.depositphotos.com/14903220/47811/v/450/depositphotos_478111138-stock-illustration-crossed-spoon-fork-plate-isolated.jpg">
        HOTTEST KITCHENS
    </div>
    
    <div class="row">
        <div class="name">Kitchen Name:</div>
        <div class="score">No. of Reviews</div>
    </div>
    {{> kitchen_row}}
    <div class="rev">
        <input type="button" class="revButton" value="Leave a Review">
        <input type="button" class="addRest" value="Add a Restaurant">
    </div>
</div>