
    <div class="details">
      <div class="label_profile"><img
          src="https://st2.depositphotos.com/14903220/47811/v/450/depositphotos_478111138-stock-illustration-crossed-spoon-fork-plate-isolated.jpg">USER
        DETAILS</div>

      <div class="row_profile">
        <div class="name">Stats:</div>
      </div>

      <div class="row_profile">
        <img src="https://cdn-icons-png.flaticon.com/512/2660/2660557.png">
        <div class="name">Number of Reviews</div>
        <div class="numOfRev">{{numOfRev}}</div>
      </div>

      <div class="row_profile">
        <img
          src="https://img.freepik.com/premium-vector/tasty-fried-rice-nasi-goreng-wok-pan-with-spices-flat-design-illustration_509835-133.jpg">
        <div class="name">Kitchens Visited</div>
        <div class="numOfKitch">{{numOfKitch}}</div>
      </div>
    </div>
 