    <div class="details">
      <div class="label_profile"><img
          src="https://brandslogos.com/wp-content/uploads/images/large/jollibee-logo.png">Jollibee</div>

      <div class="row_profile">
        <div class="name">Stats:</div>
      </div>

      <div class="row_profile">
        <img src="https://cdn-icons-png.flaticon.com/512/2660/2660557.png">
        <div class="name">Number of Reviews</div>
        <div class="numOfRev">90</div>
      </div>

      <div class="row_profile">
        <img src="https://img.freepik.com/free-vector/3d-metal-star-isolated_1308-115283.jpg">
        <div class="name">Total Rating</div>
        <div class="numOfKitch">5</div>
      </div>
      <div class="rev"><input type="button" class="revButton" value="Leave a Review"></div>
    </div>