<html>
<head>

    <title>Admin Page</title>
</head>
<body>
    <h1>Welcome, Admin!</h1>
    <!-- You can add any admin-specific content here -->
    <p>This is the admin dashboard.</p>
    <ul>
        <li><a href="manage_resto.handlebars">Manage Restaurants</a></li>
        <li><a href="manage_users.handlebars">Manage Users</a></li>
        <li><a href="manage_posts.handlebars">Delete Posts</a></li>
        <!-- Add more admin functionalities as needed -->
    </ul>
    <a href="/logout">Logout</a> <!-- Example logout link -->
</body>
</html>