{{>navbar}}
  <div class="test-container">
   {{>leaderboard}}
   {{>add_restaurant}}

    <div class="home-container">
    {{>home_content}}
    </div>
    {{>update_post}}
   {{>popup}}
  </div>