<div class="navbar">
    <div class="navbarlogo">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A2PA4301PT17X105Y52D1010186027W12088H20002CxFFFFFF/views/1,width=550,height=550,appearanceId=2,backgroundColor=000000,noPt=true/chefs-hat-on-flames-mens-t-shirt.jpg">Hell's
        Kitchen Reviews</div>

        <a href="admin_login.handlebars">Admin Login</button></a>
</div>

<div id="container">
    <div id="regbox">
        <div id="toptext">
            <center>
                <h1>User Login!</h1>
            </center>
        </div>

        <form action="/login" method="post">
            <div id="credentials">
                <div class="email">
                    <input type="text" name="email" size="49" placeholder="Email" required>
                </div><br><br>
                <div class="password">
                    <input type="password" id="password" name="password1" size="49" placeholder="Password" required>
                </div><br>
            </div>
      
                <div class="t_parent">
                    <div class="p_row">
                        <center><input type="submit" value="LOGIN!" class="login-btn"></center>
                    </div>
                <!-- remove parent to make side by side -->
                    <div class="p_row">
                        <center><a href="Registration_page.handlebars"><button type="button">Register</button></a></center>
                    </div>
                </div>

        </form>
    </div>
</div>
